.card {
    background-color: #E4EDE3;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

.card_extrato{
    strong{
        color: #004D61;
    }

    .card_extrato_detalhe{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #004D61;
    }

    .card_extrato_valor{
        display: flex;
        flex-direction: column;
    }
}
