.button {
  padding: var(--spacing-xs) var(--spacing-md);
  border: none;
  border-radius: 4px;
  font-family: var(--font-family);
  cursor: pointer;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}
