.navbar_custom {
    background-color: #004D61;
    color: #ffffff;
}

.navbar_user {
  color: white;
  display: flex;
  align-items: center;
}

.navbar_user_icon {
  color: #EB5E40;
  border: 1px solid #EB5E40;
  border-radius: 50%;
  padding: 4px;
}

.navbar_menu_icon {
    color: #EB5E40;
    padding: 4px;
}