.card {
    background-color: #004D61;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    color: #fff;
    height: 40vh;
}
.card_saldo{
    display: flex;
    flex-direction: row-reverse;
}

.btn {
    color: var(--color-danger);
}

.divider {
    border-color: var(--color-danger) !important;
    height: 2px;
}
